@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="card" style="width: 400px;height: 500px">
    <div class="card-body">
        <h4 class="card-title text-center">Yaron Yaakov</h4>

        <!-- ID and Country in one row -->
        <div class="d-flex justify-content-between">
            <p class="card-text">
                <strong>ID:</strong> 318439643
            </p>
            <p class="card-text">
                <strong>Country:</strong> Israel
            </p>
        </div>

        <!-- Additional horizontal content -->
        <div class="d-flex justify-content-between">
            <p class="card-text">
                <strong>Course:</strong> dot.Net
            </p>
            <p class="card-text">
                <strong>City:</strong> Tel Aviv
            </p>
        </div>

    </div>

    <img class="card-img-bottom" src="images/about_image.jpg" alt="Card image" style="width: 100%;">
</div>

 

